                    <footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
								<form method="post" action="https://formspree.io/{{ site.email }}">
									<div class="fields">
										<div class="field half">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="field half">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="field">
											<textarea name="message" id="message" placeholder="Message"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send" class="primary" /></li>
									</ul>
								</form>
							</section>
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									{% if site.twitter-url %}
									<li><a href="{{ site.twitter-url }}" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
									{% endif %}
									{% if site.facebook-url %}
									<li><a href="{{ site.facebook-url }}" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
									{% endif %}
									{% if site.instagram-url %}
									<li><a href="{{ site.instagram-url }}" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
									{% endif %}
									{% if site.dribble-url %}
									<li><a href="{{ site.dribble-url }}" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
									{% endif %}
									{% if site.gitHub-url %}
									<li><a href="{{ site.gitHub-url }}" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
									{% endif %}
									{% if site.500px-url %}
									<li><a href="{{ site.500px-url }}" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
									{% endif %}
									<li><a href="tel:{{ site.phone }}" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
									<li><a href="mailto:{{ site.email }}" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Infozy Infotainment Group. All rights reserved</li><li>Design: <a href="https://github.com/tks18">T K Sudharshan</a></li>
							</ul>
						</div>
					</footer>

