				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="{{ site.siteurl }}" class="logo">
									<span class="symbol"><img src="{{ "/assets/icon/favicon.ico" | relative_url }}" alt="" /></span><span class="title">{{ site.title }}&nbsp;&#124;&nbsp;{{ site.tagline }}</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="{{ site.siteurl }}">Home</a></li>
							<li><a href="/about.html">About Infozy</a></li>
							<li><a href="https://about.focuspocus.tk" target="_blank">Contact the Author</a></li>
							<li><a href="/allsites.html">List of all Websites Under Infozy</a></li>
						</ul>
					</nav>